$sheet-metaphor               = false

$accent                       = #800
$background                   = #f8f8f8
$background-darker            = #efefef
$background-main              = $background
$background-main-height       = 347px - 12px
$text                         = #222
$text-lighter                 = $text + #333
$links                        = $accent
$darker-links                 = $links - #222

$outer-background             = #e0e0e0
$outer-text                   = #606060
$outer-text-shadow            = #ccc

$header-background            = #333
$header-text                  = #fff
$header-text-shadow           = #222
$header-dropdown-background   = $outer-background
$header-dropdown-text         = $text
$header-dropdown-text-shadow  = $outer-text-shadow
$header-highlight             = $links
$header-highlight-darker      = $links - #111
$header-highlight-text        = $header-text
$header-highlight-text-shadow = #333
