---
layout: site
---

{% strip %}
{% if page.contents %}<aside>
 <nav>
  <h2>Contents</h2>
  <ul>
   {% for i in page.contents %}
   <li><a href="#{{ i[1] }}">{{ i[0] }}</a></li>
   {% endfor %}
  </ul>
 </nav>
</aside>
{% endif %}{% comment %}<section class="liquid-render-error" style="color: #800;">
 <p style="font-size: 2em; font-weight: bold; margin: 0;">
  This site is having some technical issues at the moment.
 </p>
 <p style="font-size: 1.25em;">
  Until it is fixed, you can still read the contents of this page below.
 </p>
</section>{% endcomment %}
<article>
{% endstrip %}
{% indent 1 %}{% lrstrip %}{{ content }}{% endlrstrip %}{% endindent %}
{% strip %}
</article>
{% capture aside %}<aside>
 {% if page.contents %}
 <nav class="screen-only">
  <h2>Contents</h2>
  <ul>
   {% for i in page.contents %}
   <li><a href="#{{ i[1] }}">{{ i[0] }}</a></li>
   {% endfor %}
  </ul>
 </nav>
 {% endif %}
 {% capture non_contents %}
 {% assign root_listing = false %}
 {% capture subpages_nav %}
 <nav>
  <h2>Subpages</h2>
  {% sitenav page.url %}{% raw %}
   <ul>
   {% for p in nav.pages %}{% if p.url != page.url %}
    {% capture li %}
    <li class="{%if p.nav.current%}current{%elsif p.nav.parent%}parent{%endif%}{%if p.title == "Home"%} home{%endif%}{%if p.nav.has_children%} has-children{%endif%}">
    {% endcapture %}
    {{ li | replace: 'class=" ', 'class="' | replace: ' class=""', "" }}
     <a href="{%if p.nav.url%}{{p.nav.url|uri_escape}}{%else%}{%root%}{{p.nav.slug|uri_escape}}{%endif%}"{%if p.nav.tooltip%} title="{{p.nav.tooltip|xml_escape}}"{%elsif p.description%} title="{{p.description|xml_escape}}"{%endif%}{%if p.nav.target%} target="{{p.nav.target|xml_escape}}"{%endif%}>
     {% if p.menu-text %}
      {{p.menu-text}}
     {% elsif p.title != "Home" %}
      {{p.nav.title}}
     {% else %}
      {{site.name}}
     {% endif %}
     </a>
    </li>
   {% else %}{% assign root_listing = true %}{% endif %}{% endfor %}
   </ul>
  {% endraw %}{% endsitenav %}
 </nav>
 {% endcapture %}
 {% unless root_listing %}{% if subpages_nav contains "<li>" or subpages_nav contains "Liquid error:" %}{{ subpages_nav }}{% endif %}{% endunless %}
 {% if page.title == "Home" %}
 <nav>
  <h2>Recent Posts</h2>
  <ul>
  {% for p in site.posts limit:3 %}
   <li>
    <a href="{% root %}{{ p.url }}">{{ p.title }}</a>
    <time datetime="{{ p.date | date: "%Y-%m-%d" }}">
     {{ p.date | date: "%A, %B %d, %Y" }}
    </time>
   </li>
  {% endfor %}
  </ul>
 </nav>
 {% endif %}
 {% endcapture %}
 {{ non_contents }}
</aside>
{% endcapture %}
{% endstrip %}{% capture aside %}
{{ aside | strip_newlines | replace: "  ", "" | replace: " <", "<" }}{% comment %}">{% endcomment %}{% endcapture %}{% if aside contains "<li>" %}{% if non_contents contains "<nav>" or non_contents contains "<section>" %}{{ aside }}{% else %}{{ aside | replace_first: "<aside>",'<aside class="contents-only">' }}{% endif %}{% endif %}
