@require "../root/_config.styl"

// Make sure that these are only predefined on new sites
$sheet-metaphor               = "undefined"
$monospace                    = "undefined"
$shadows                      = "undefined"
$menu-shadows                 = "undefined"

$heading-sizes                = (1 2) (2 1.5) (3 1.25) (4 1) (5 0.8) (6 (2/3))

$width                        = 60em
$width-tablet                 = 48em
$width-header-plus            = 0.25em
$width-header-plus-nosheet    = 0

@require "../../_config.styl"

if $sheet-metaphor == "undefined"
 $sheet-metaphor = true
if $monospace == "undefined"
 $monospace = false
if $shadows == "undefined"
 $shadows = true
if $menu-shadows == "undefined"
 $menu-shadows = $shadows
