roundn(num, precision)
 return (round(num * (10 ** precision)) / (10 ** precision));


// HiDPI stuffs

hidpi(cond=null)
 if cond == null
  cond = !$monospace
 if cond
  &
   @media (min-resolution: 97dpi) //{}
    {block}

font-weight(value, cond=null)
 font-weight: value;
 +hidpi(cond)
  if value == normal
   font-weight: lighter;
  else if value == bold
   font-weight: bold;  //500;


// Vendor prefix shit

display(how)
 if how == flex
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 else
  display: arguments;

flex()
 -ms-flex: arguments;
 -webkit-flex: arguments;
 flex: arguments;

flex-direction()
 -ms-flex-direction: arguments;
 -webkit-flex-direction: arguments;
 flex-direction: arguments;

transform()
 -moz-transform: arguments;
 -ms-transform: arguments;
 -o-transform: arguments;
 -webkit-transform: arguments;
 transform: arguments;

transition()
 -moz-transition: arguments;
 -ms-transition: arguments;
 -o-transition: arguments;
 -webkit-transition: arguments;
 transition: arguments;
